@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --padding-inline: 50px;
  }
  
  @media (max-width: 600px) {
    :root{
      --padding-inline: 1rem;
    }
  }
  
  @media (min-width: 1200px) {
    :root{
      --padding-inline: 175px;
    }
  }
  
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  body{
    font-family: "Montserrat", sans-serif;
  }
  
  #root > *{
    padding-left: var(--padding-inline);
    padding-right: var(--padding-inline);
  }

  #root{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  button{
    cursor: pointer;
  }